{% extends "app/base.html" %}
{% load static %}
{% block title %}about{% endblock title %}
{% block main-content %}
<div class="container my-3">
    <div class="row">
        <div class="col-sm-6 offset-3 text-center">
            <h3>Password Reset Completed</h3>
            <hr>
            <div>
                <iframe src="{% static 'app/images/giphy.gif' %}" frameBorder="0" width="300" height="350" class="pt-5"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}