{% extends "app/base.html" %}
{% load static %}
{% block title %}about{% endblock title %}
{% block main-content %}
<div class="container my-3">
    <div class="row">
        <h3>Welcome{{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-1 text-center">
            <h3>Password Changed Successfully</h3>
            <iframe src="{% static 'app/images/giphy.gif' %}" frameBorder="0" width="300" height="350"
                class="pt-5" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}